<p id="notice"><%= notice %></p>

<p>
  <strong>Element:</strong>
  <%= @controlcommand.element %>
</p>

<p>
  <strong>Path:</strong>
  <%= @controlcommand.path %>
</p>

<%= link_to 'Edit', edit_controlcommand_path(@controlcommand) %> |
<%= link_to 'Back', controlcommands_path %>
