<p id="notice"><%= notice %></p>

<p>
  <strong>Element:</strong>
  <%= @textline.element %>
</p>

<p>
  <strong>String:</strong>
  <%= @textline.string %>
</p>

<%= link_to 'Edit', edit_textline_path(@textline) %> |
<%= link_to 'Back', textlines_path %>
