<h1>Listing lasejobs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lasejobs.each do |lasejob| %>
      <tr>
        <td><%= lasejob.title %></td>
        <td><%= link_to 'Show', lasejob %></td>
        <td><%= link_to 'Edit', edit_lasejob_path(lasejob) %></td>
        <td><%= link_to 'Destroy', lasejob, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lasejob', new_lasejob_path %>
